<template>
  <div class="mb-4">
    <router-link
      v-if="isConnected"
      :to="{ name: 'transactions', params: { address: wallet.address } }"
      class="border mr-4 max-w-full p-1"
    >
      Show My Transactions
    </router-link>
  </div>
  <div class="sm:flex p-4 pl-0">
    <input
      v-model="address"
      type="text"
      name="address"
      class="border mr-4 max-w-full p-1"
      minlength="42"
      length="42"
      style="width: 390px"
      placeholder="0x1331b9d038adaa4439f3a4c819ab0b6bf187d677"
      @keyup.enter="showTransaction"
    >
    <button
      type="button"
      :disabled="disabled"
      class="border px-4 bg-gray-100 rounded"
      @click="showTransaction"
    >
      Show transactions
    </button>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import useEthereum from "@/composables/UseEthereum.js";
import { useRouter } from "vue-router";

const router = useRouter()

const { isConnected, wallet } = useEthereum();

const address = ref("");

const disabled = computed(() => address.value.length < 42);

const showTransaction = () => {
  if (disabled.value) return;
  router.push({
    name: 'transactions',
    params: { address: address.value },
  })
}

</script>
