<template>
  <div>
    BTC: {{ BTC }}
  </div>
</template>


<script setup>
  import { ref } from 'vue';
  import { getBTC } from '@/api/bitcoin'

  const BTC = ref('');
  const refreshBtc = () => {
    getBTC().then(result => {
      if (result?.USD)
      BTC.value = result.USD.last + ' ' + result.USD.symbol
    })
  }

  refreshBtc();
  setInterval(refreshBtc, 15000);
</script>
