<template>
  <div class="shadow">
    <div class="container mx-auto flex items-center">
      <router-link to="/">
        <div class="p-4">
          Home page
        </div>
      </router-link>
      <div class="p-4 pl-10">
        <AppBTCPrice />
      </div>
      <div class="ml-auto px-4">
        <AppWallet />
      </div>
    </div>
  </div>
</template>

<script setup>
import AppWallet from './AppWallet.vue';
import AppBTCPrice from './AppBTCPrice.vue';
</script>
