<template>
  <div>
    <div v-if="isConnected && isWrongNetwork">
      <div class="text-sm">
        Your wallet is currently connected to a different network. Please change it to the Rinkenby Test to continue
      </div>
      <button
        class="p-2 mb-1 border rounded"
        @click="switchToRightNetwork"
      >
        change wallet network
      </button>
    </div>
    <div v-else>
      <button
        v-if="!isConnected"
        class="p-2 pl-0"
        @click="connect"
      >
        Connect wallet
      </button>
      <div v-else>
        <div class="text-xl">
          {{ formatedWallet }}
        </div>
        <div class="text-right text-sm text-gray-500">
          {{ formatedAdress }}
        </div>
      </div>
      <div
        v-if="errorMessage"
        class="text-xs text-gray-400"
      >
        *{{ errorMessage }}
      </div>
    </div>
  </div>
</template>


<script setup>
import { computed } from 'vue';
import UseEthereum from '../composables/UseEthereum.js'

const {
  isConnected,
  wallet,
  connect,
  errorMessage,
  isWrongNetwork,
  switchToRightNetwork,
} = UseEthereum();
const formatedWallet = computed(() => isConnected.value ? `${wallet.onx} ONX / ${wallet.eth} ETH` : '');
const formatedAdress = computed(() => isConnected.value ? `${wallet.address.slice(0, 5)}...${wallet.address.slice(-4)}` : '');
</script>
