<template>
  <div class="my-4">
    address: {{ address }}
  </div>

  <table class="border-collapse border">
    <thead>
      <tr>
        <th class="border p-2">
          Method Name
        </th>
        <th class="border p-2">
          Number of transactions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border p-2">
          List NFT
        </td>
        <td class="border p-2">
          {{ data.listNft }}
        </td>
      </tr>
      <tr>
        <td class="border p-2">
          Transfer
        </td>
        <td class="border p-2">
          {{ data.transfer }}
        </td>
      </tr>
      <tr>
        <td class="border p-2">
          Settle List
        </td>
        <td class="border p-2">
          {{ data.settleList }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script setup>
  import { ref, computed } from "vue";
  import { useRoute } from "vue-router";
  import { getAllTransactions, transactionMethodTypes } from '@/api/ethereumCommon';

  const { params: { address }} = useRoute();
  const transactions = ref([]);

  const data = computed(() => {
    let listNft = 0;
    let transfer = 0;
    let settleList = 0;

    transactions.value.forEach((transaction) => {
      if (transaction.input === transactionMethodTypes.TRANSFER) transfer += 1;
      else if (transaction.input.startsWith(transactionMethodTypes.LIST_NFT)) listNft += 1;
      else if (transaction.input.startsWith(transactionMethodTypes.SETTLE_LIST)) settleList += 1;
    });
    return { listNft, transfer, settleList };
  });

  // init
  getAllTransactions(address).then((result) => {
    transactions.value = result;
  });
</script>
